.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .App-title {
    font-size: 3.5em;
  }
}

.App-intro {
  font-size: large;
}


.App-external {
  font-size: 2em;
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

.App-external-item {
  display: inline-block;
  margin: 0 0.5em 0.5em 0.5em;
}

.App-external-item a svg {
  color: black;
  transition: color 0.2s ease, transform 0.2s ease;
}

.App-external-item a:hover svg{
  color: purple;
  transform: scale(1.4);
}
